[Unit]
Description=Evaluate DUDU device and location health every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
AccuracySec=1min
Unit=duducar-command@health.service

[Install]
WantedBy=timers.target
