[Unit]
Description=Evaluate DUDU device health every 30 minutes

[Timer]
OnCalendar=*-*-* *:00,30:00
Persistent=true
AccuracySec=1min
Unit=duducar-command@health.service

[Install]
WantedBy=timers.target
